<ul class="board">
	<li id="one" class="box">{{mark}}</li>
	<li id="two" class="box">{{mark}}</li>
	<li id="three" class="box">{{mark}}</li>
	<li id="four" class="box">{{mark}}</li>
	<li id="five" class="box">{{mark}}</li>
	<li id="six" class="box">{{mark}}</li>
	<li id="seven" class="box">{{mark}}</li>
	<li id="eight" class="box">{{mark}}</li>
	<li id="nine" class="box">{{mark}}</li>	
</ul>